@import url('https://fonts.googleapis.com/css?family=Esteban|Montserrat:400,500,600,700,800&display=swap');

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #d9d9d9;
    
}

.full-height-grow {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #212f52;
    font-family: Montserrat, sans-serif;
}

.logo h4 a{
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: .5s color ease;
}

.logo h4 a{
    transition: .5s color ease;
}

.logo h4 a:hover{
        color: #d9d9d9;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    z-index: 5;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: .5s color ease;   
}

.nav-links a:hover{
        color: #d9d9d9;
}


.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3 ease;
}

 .brand {
    flex-grow: 1;
    background-color: #d9d9d9;  
} 

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    min-height: 100vh;
    background-color: #d9d9d9;
}

.title {
    font-size: 1.5em;
    margin-bottom: 1rem;
    margin-top: 0;
    font-family: Montseratt, sans-serif;
    font-weight: 800;
    color: #212f52;
}

.call-to-action h1 {
    font-size: 4em;
}
.subtitle {
    font-size: 2.2em;
    margin-bottom: 2rem;
    font-family: esteban, sans-serif;
    color: #212f52;
}

.btn {
    color: white;
    background-color: #212f52;
    padding: .75rem 1.5rem;
    border-radius: 2.5rem;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 600;
    transition: .75s background-color ease;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}

.btn:hover {
    background-color: #4e5c80;
}

.btn2 {
    color: #212f52;
    background-color: #ED9A0A;
    padding: .75rem 1.5rem;
    border-radius: 2.5rem;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 600;
    transition: .75s background-color ease;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    
}

.btn2:hover {
        background: #f9cb07;
    }

.buttons{
    display: flex;
}

.form-wrap {
    width: 320px;
    background: #3e3d3d;
    padding: 40px 20px;
    box-sizing: border-box;
}

.form-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    background-color: #d9d9d9;
    text-align: center;
    margin:auto;
}

.input{
    width: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size:1rem;

}
@media screen and (max-width: 1024px) {
   .nav-links{
       width: 60%;
   } 
}


@media screen and (max-width: 1024px) {
   body{
       overflow-x: hidden;
   }
   .nav-links{
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background-color:#212f52;
       flex-direction: column;
       align-items: center; 
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }
   .nav-links li{
       opacity: 0;
   }
   .burger{
       display: block;
   }
   .brand {
       display: none;
   }
}


.nav-active{
    transform: translateX(0%);
    z-index: 5;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px)
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px)
}

/* Index Page */

.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 2rem;
}

.img-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.img-wrapper .house-image {
    background-image: url(/static/images/landinghouse.png);
    flex-grow: 1;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    align-self: center;
    flex-grow: 1;
    font-size:16px;
    text-align: center;
}


.btn {
    margin-right: 3rem;
}

@media (max-width: 1100px) {
    .img-wrapper {
        display: none;
    }

    .home-main-section {
        justify-content: center;
    }
}

/* Contact Page */

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100vh;
}

.contactus {
    align-self: center;
    font-size: 6rem;
    flex-grow: 1;
    text-align: center;
}

.message {
    align-self: center;
    font-size: 2rem;
    background-color: #ED9A0A;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 600px;
    border-top-left-radius: 600px;
}

.flashes {
    list-style: none;
    font-family: montserrat;
    font-size: 2rem;
    padding: 10px;
    font-weight: 600;
    color: #ed9a0a;
    background: #212f52;
    text-transform: uppercase;
}


label{
    display: block;
    padding: 0.5rem 0 0.5rem;
}

input, textarea{
    display: block;
    line-height: 3;
    border-style: none;
    padding: 0.5rem 1rem;
}

.btn4{
    color: white;
    background: #212f52;
    padding: .75rem 1.5rem;
    border-radius: 2.5rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    border-style: none;
    outline-style: none;
    cursor:pointer;
    transition: .75s background-color ease;
    text-transform: uppercase;
    margin: 1rem 0;

}

.btn4:hover {
        background: #4e5c80;
    }

.btn4:focus{
    outline: none;
}

.form-wrap2 {
    margin: auto;
    width: 320px;
    padding: 40px 20px;
    box-sizing: border-box;
    background: #ED9A0A;
    box-shadow: none;
}

.label-contain {
    display: flex;
    flex-direction: column;
}

.form-label{
    font-family: montserrat, sans-serif;
    font-weight: 600;
    color:#212f52; 
    font-size:2.25rem;
    text-transform: uppercase;
}

textarea {
    font-family: sans-serif;
}

#bwrap{
    text-align: center;
    margin-top: 10px;
    }

.contact ul{
    margin-bottom: 10px;
}

.contactfont{
    font-family: esteban, sans-serif;
    
}

/* Contact Page Media Queries */


@media (min-width: 583px) and (max-width: 1099px) {
    .contact {
    flex-wrap: wrap;
    margin: auto;
    }
    .message {
    background: none;
    margin: auto;
    height:80vh;
    }
    .contactus {
    padding-top: 30px;
    }
}

@media screen and (max-width: 582px){
    .message {
        height: 0vh;
        background: none;
    }
    .contact {
    flex-wrap: wrap;
    margin: auto;
    height: 35vh;
    }
    .title {
        font-size: 1em;
    }
}

/* Register page */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html{
    font-size: 8px
}


#main-form{
    font-family: 'Montserrat', sans-serif;
    background-color: #d9d9d9;
    letter-spacing: 5px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.wrapper{
    margin: 0 auto;
    display: flex;    
}

.form-container{
    width: 100%;
    max-width: 40rem;
    background-color:#fff;
    position: relative;
    padding: 9rem 0;
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
    border-radius: 1rem;
    z-index: 1;
}

.form-container::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: linear-gradient(to left,  #B1C0E5, #212f52);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: 0;
}

.form-heading{
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
}

.reg-form{
    transform: translateX(10rem);
    padding: 2rem 0;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
}

.input-group{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.input-group input{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top:.5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #212f52;
}

.input-group > i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #ED9A0A;
}

.input-group .bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 1px;
}

.input-group .bar::before{
    content: '';
    position: absolute;
    background-color: #ED9A0A;
    width: 0;
    height: 2px;
    transition: width 650ms;
}

.input-group input:focus + .bar::before{
    width: 100%;
}

.regbtn{
    margin: 3rem auto;
    padding: 1rem 5rem;
    background: #212f52;
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 2.5rem;
    transition: .75s background-color ease;   
}

.regbtn:hover {
        background: #4e5c80;
    }

.switch-login{
    text-align: center;
}

.switch-login a{
    text-decoration: none;
    color: #212f52;
    font-size: 1.5rem;
}

.switch-login a span{
    color: #ED9A0A;
    font-weight: 600;
}

.switch-login a span:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid #ED9A0A;
}

/* register page media queries */

@media screen and (max-width: 700px){
    .form-container::before{
        height: 10rem;
    }

    .form-heading{
        left:50%;
        transform: translateX(-50%);
    }

    .reg-form{
        border-radius: initial;
        transform: initial;
        box-shadow: none;
    }
}

/* Dashboard Page */

.side-nav {
	position: absolute;
	width: 200px;
	height: 100%;
	background-color: #ED9A0A;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dashsection-wrapper{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-left: 250px;
}
.dashtitle i{
    font-size:22px;
    color: #fff;
    padding: 14px;
}

.dashsection{
    display: flex;
    margin-left: 250px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.dashtitle span{
    font-weight: 700;
    text-transform: uppercase;
    font-size:22px;
    color: #fff;
}

header span i{
    font-size: 2rem;
    color: #212f52;
    margin: 20px auto;
    padding-right: 10px;
}

.newlisting {
    font-size: 2rem;
    color:#212f52;
    font-weight: 600;
    font-family: montserrat, sans-serif;
}

header ul li a{
    text-decoration: none;
}

header ul li{
    text-align: center;
}

.listingheader {
    background: #A3A9B8;
    font-size: 22px;
    padding: 5px 25px;
    font-weight: 600;
    color: #212f52;
    text-align: center;
    width: 100%;
}

.sectionlisting {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    margin-bottom: 20px;
    margin-right: 20px
}

.dashform {
    display: flex;
    flex-direction: column;
    background: #c4c4c4;
    padding: 0px 19px;
}

.dshbtn{
    margin: 3rem auto;
    padding: 1rem 5rem;
    background: #212f52;
    border: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    border-radius: 2.5rem;
    transition: .75s background-color ease;   
    text-decoration: none;
}

.dshbtn:hover {
        background: #4e5c80;
    }

.btnwrap {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 19px;
}

#btnwrap {
    text-align: center;
}

/* dashboard page media queries */

@media screen and (max-width: 700px){
    .side-nav{
        display: none;
    }

    .dashsection-wrapper{
        margin-left: auto;
        justify-content: space-around;      
    }
    .sectionlisting {
        min-width: 100%;
    }


}

/* listing page */

.hero {
    min-height: 90vh;
    background-image: url('/static/images/construction-house-architecture-luxury-53610.jpg');
    background-size: cover;
    background-position: center;
    color: #18234C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.callout-wrapper {
    background:rgba(237, 154, 10, 0.7);
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    border-radius: 10px;
    font-size: 16px;
}

.callout-wrapper h1{
    font-family: montserrat, sans-serif;
    padding:10px;
    font-size: 4em;
    text-align: center;
}

.callout-wrapper h4{
    font-family: esteban, sans-serif;
    padding: 5px;
    font-size: 2.2em;
    
}
.btn3{
    margin: 1rem auto;
    padding: 0.75rem 2rem;
    background: #212f52;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 2.5rem;
    transition: .75s background-color ease;   
    text-transform: uppercase;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    width: 80px;
}

.btn3:hover {
        background: #4e5c80;
    }

/* listings page for loop from mongo */


.house-img {
    background-image: url('/static/images/whitehouse.jpg');
    background-size: cover;
    background-position: center;
    width: 300px;
    min-height: 300px;
}

.list-style {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: esteban, sans-serif;
    padding: 5px;
    color:#18234C;
    display: flex;

}

.list-wrapper {
    width: 300px;
    background-color: #fff;
}

.listing-wrapper {
    padding: 0 5px;
    padding-bottom: 10px
}

p.list-style {
    justify-content: center;
}

.list-style i{
    flex-grow: 0;
}

.icon-wrap{
    width: 40px;
}

#price-style{
    text-transform: uppercase;
    font-family: esteban, sans-serif;
    padding: 5px;
    color:#18234C;
    display: flex;
    justify-content: center;
    margin: 18px 0px;    
    }

.price {
    font-size: 2.5rem;
    font-weight: 700;
}

.mainlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}