{% extends 'base.html' %}
{% block content %}
    <div class="side-nav">
		<div class="dashtitle">
			<i class="fa fa-tachometer"></i>
			<span>{{session['username']}}</span>
		</div>
        <header>
			<ul>
				<li class="list-style">
                    <div class="icon-wrap">
						<i class="fas fa-home"></i>
                    </div>
                    <a href="{{ url_for('dashboard') }}" class="newlisting">New Listing</a>
				</li>
			</ul>
		</header>
	</div>
    <div class="dashsection-wrapper"> 
		<div class="sectionlisting">
			<div class="listingheader">New Listing
			</div>
			<form action="{{ url_for('insert_listings') }}" method="POST" class="dashform">
				<div class="label-contain">
					<label class="form-label" id="address" for="address">Address</label>
					<input class="form-label" type="text" name="address" id="address" required>
				</div>
                <div class="label-contain">
					<label class="form-label" id="bedrooms" for="bedrooms">Bedrooms</label>
					<input class="form-label" type="text" name="bedrooms" id="bedrooms" required>
				</div>
				<div class="label-contain">
					<label class="form-label" id="bathrooms" for="bathrooms">Bathrooms</label>
					<input class="form-label" type="text" name="bathrooms" id="bathrooms" required>
	            </div>
				<div class="label-contain">
				    <label class="form-label" id="property_type" for="property_type">House Type</label>
					<input class="form-label" type="text" name="property_type" id="property_type" required>
	            </div>
				<div class="label-contain">
					<label class="form-label" id="price" for="price">Price</label>
					<input class="form-label" type="text" name="price" id="price" required>
	            </div>
				<div id="btnwrap">
                	<button class="dshbtn" type="submit" name="action">Add</button>
                </div>
			</form>
		</div>
        {% for listing in for_sale %}
        <div class="listing-wrapper">
        <ul>
            <div class="house-img">
            </div>     
		    <div class="list-wrapper">
			    <li class="address-style">
                    <div class="icon-wrap">
                        <i class="fas fa-address-card"></i>
                    </div>
                    <p class="data">{{listing.address}}</p>
                </li>
			    <li class="list-style">
                    <div class="icon-wrap">
                        <i class="fas fa-home"></i>
                    </div>
                    <p>{{listing.property_type}}</p>
                </li>
			    <li class="list-style">
                    <div class="icon-wrap">
                        <i class="fas fa-bed"></i>
                    </div>
                    <p>{{listing.bedrooms}}</p>
                </li>
			    <li class="list-style">
                    <div class="icon-wrap">
                        <i class="fas fa-toilet"></i>
                    </div>
                    <p>{{listing.bathrooms}}</p>
                </li>
			    <li id="price-style">
                    <p class="price">{{listing.price}}</p>
                </li>
                <div class="btnwrap">
                    <a href="{{ url_for('edit_listing', listing_id=listing._id) }}" class="dshbtn">Edit</a>
                    <a href="{{ url_for('delete_listing', listing_id=listing._id) }}" class="dshbtn">Del</a>
                </div>
		    </div>
        </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}
