{% extends 'base.html' %}
{% block content %}
    <div class="side-nav">
		<div class="dashtitle">
			<i class="fa fa-tachometer"></i>
			<span>{{session['username']}}</span>
		</div>
		<header>
			<ul>
				<li>
					<a href="#">
						<span><i class="fas fa-home"></i></span>
						<span class="newlisting">New Listing</span>
					</a>
				</li>			
			</ul>
		</header>
	</div>
	<div class="dashsection">
		<div class="sectionlisting">
            <div class="listingheader">New Listing
            </div>
            <form action="{{ url_for('insert_listings') }}" method="POST" class="dashform">
				<div class="label-contain">
					<label id="form-label" for="address">Address</label>
					<input type="text" name="address" id="message form-label" required>
				</div>
				<div class="label-contain">
					<label id="form-label" for="bedrooms">Bedrooms</label>
					<input type="text" name="bedrooms" id="message form-label" required>
				</div>
                <div class="label-contain">
                    <label id="form-label" for="bathrooms">Bathrooms</label>
                    <input type="text" name="bathrooms" id="message form-label" required>
                </div>
                <div class="label-contain">
                    <label id="form-label" for="property_type">House Type</label>
                    <input type="text" name="property_type" id="message form-label" required>
                </div>
                <div class="label-contain">
                    <label id="form-label" for="price">Price</label>
                    <input type="text" name="price" id="message form-label" required>
                </div>
                <div id="bwrap">
				<button class="btn4" type="submit" name="action">Add Listing</button>
                </div>
			</form>
		</div>
	</div>
{% endblock %}
