{% extends 'base.html' %}
{% block content %}
    <div class="side-nav">
		<div class="dashtitle">
			<i class="fa fa-tachometer"></i>
			<span>{{session['username']}}</span>
		</div>
		<header>
			<ul>
				<li class="list-style">
                    <div class="icon-wrap">
						<i class="fas fa-home"></i>
                    </div>
                    <p class="newlisting">New Listing</p>
				</li>
                <li class="list-style">
                    <div class="icon-wrap">
						<i class="fas fa-home"></i>
                    </div>
                    <p class="newlisting">Edit Listing</p>
				</li>
                <li class="list-style">
                    <div class="icon-wrap">
						<i class="fas fa-home"></i>
                    </div>
                    <p class="newlisting">Delete Listing</p>
				</li>
			</ul>
		</header>
	</div>
    <div class="dashsection-wrapper"> 
		<div class="sectionlisting">
			<div class="listingheader">New Listing
			</div>
			<form action="{{ url_for('update_listing', listing_id=listing._id) }}" method="POST" class="dashform">
				<div class="label-contain">
					<label class="form-label" id="adress" for="address">Address</label>
					<input class="form-label" type="text" name="address" id="address" value="{{listing.address}}" required>
				</div>
				<div class="label-contain">
					<label class="form-label" id="bedrooms" for="bedrooms">Bedrooms</label>
					<input class="form-label" type="text" name="bedrooms" id="bedrooms" value="{{listing.bedrooms}}" required>
				</div>
				<div class="label-contain">
					<label class="form-label" id="bathrooms" for="bathrooms">Bathrooms</label>
					<input type="text" name="bathrooms" id="bathrooms" value="{{listing.bathrooms}}" required>
	            </div>
				<div class="label-contain">
				    <label class="form-label" id="property_type" for="property_type">House Type</label>
					<input class="form-label" type="text" name="property_type" id="property_type" value="{{listing.property_type}}" required>
	            </div>
				<div class="label-contain">
					<label class="form-label" id="price" for="price">Price</label>
					<input class="form-label" type="text" name="price" id="price" value="{{listing.price}}" required>
	            </div>
				<div id="btnwrap">
                	<button class="dshbtn" type="submit" name="action">Update</button>
                </div>
			</form>
		</div>
    
<!---       {% for listing in for_sale %}
        <div class="listing-wrapper">
        <ul>
            <div class="house-image">
            </div>     
		    <div class="list-wrapper">
			    <li class="list-style">
                    <div class="icon-wrap">
                        <i class="fas fa-address-card"></i>
                    </div>
                    <p class="data">{{listing.address}}</p>
                </li>
			    <li class="list-style">
                    <div class="icon-wrap">
                        <i class="fas fa-home"></i>
                    </div>
                    <p class="data">{{listing.property_type}}</p>
                </li>
			    <li class="list-style">
                    <div class="icon-wrap">
                        <i class="fas fa-bed"></i>
                    </div>
                    <p class="data">{{listing.bedrooms}}</p>
                </li>
			    <li class="list-style">
                    <div class="icon-wrap">
                        <i class="fas fa-toilet"></i>
                    </div>
                    <p class="data">{{listing.bathrooms}}</p>
                </li>
			    <li id="price-style">
                    <p class="price">{{listing.price}}</p>
                </li>
                <div class="btnwrap">
                    <button class="dshbtn">Edit</button>
                    <button class="dshbtn">Delete</button>
                </div>
		    </div>
        </ul>
        </div>
    {% endfor %} --> 
    </div>
{% endblock %}

