{% extends 'base.html' %}
{% block content %}

    <!-- Side Bar -->
    <div class="side-nav">
		<div class="dashtitle">
			<i class="fa fa-tachometer"></i>
			<span>{{session['username']}}</span>
		</div>
		<header>
			<ul>
				<li class="list-style">
                    <div class="icon-wrap">
						<i class="fas fa-home"></i>
                    </div>
                    <a href="{{ url_for('dashboard') }}" class="newlisting">New Listing</a>
				</li>
			</ul>
		</header>
	</div>

    <!-- Edit Listing Form -->
    <div class="dashsection-wrapper"> 
		<div class="sectionlisting">
			<div class="listingheader">Edit Listing
			</div>
			<form action="{{ url_for('update_listing', listing_id=listing._id) }}" method="POST" class="dashform">
				<div class="label-contain">
					<label class="form-label" id="adress" for="address">Address</label>
					<input class="form-label" type="text" name="address" id="address" value="{{listing.address}}" required>
				</div>
				<div class="label-contain">
					<label class="form-label" id="bedrooms" for="bedrooms">Bedrooms</label>
					<input class="form-label" type="text" name="bedrooms" id="bedrooms" value="{{listing.bedrooms}}" required>
				</div>
				<div class="label-contain">
					<label class="form-label" id="bathrooms" for="bathrooms">Bathrooms</label>
					<input type="text" name="bathrooms" id="bathrooms" value="{{listing.bathrooms}}" required>
	            </div>
				<div class="label-contain">
				    <label class="form-label" id="property_type" for="property_type">House Type</label>
					<input class="form-label" type="text" name="property_type" id="property_type" value="{{listing.property_type}}" required>
	            </div>
				<div class="label-contain">
					<label class="form-label" id="price" for="price">Price</label>
					<input class="form-label" type="text" name="price" id="price" value="{{listing.price}}" required>
	            </div>
				<div id="btnwrap">
                	<button class="dshbtn" type="submit" name="action">Update</button>
                </div>
			</form>
		</div>  
    </div>
{% endblock %}

