{% extends 'base.html' %}
{% block content %}
<main class="container full-height-grow">
		<div class="home-main-section">
			<div class="call-to-action">
				<h1 class="title">Terrie Homes</h1>
				<span class="subtitle">Sell Your Home in a Click.</span>
				<div class="buttons">
					<a href="{{ url_for('listings') }}" class="btn">Houses for Sale</a>
					<a href="{{ url_for('register') }}" class="btn2">List Your House</a>
				</div>
			</div>	
        </div> 
        <div class="img-wrapper">
			<div class="house-image">
			</div>
		</div>
</main>
{% endblock %}
