{% extends 'base.html' %}
{% block content %}

<section id="main-form">
    <div class="wrapper">
        <div class="form-container">
            <span class="form-heading">Register</span>
            <form class="reg-form" method=POST action="{{ url_for('register') }}">
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" placeholder="Username..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="pass" placeholder="Password..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirm password..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <button class="regbtn" type="submit" value="signup">
                        <i class="fab fa-telegram-plane"></i>
                    </button>
                </div>
                <div class="switch-login">
                    <a href="{{ url_for('signin') }}">Already have an account? <span>Login</span></a>
                </div>
            </form>
        </div>
    </div>  
</section>

{% endblock %}