{% extends 'base.html' %}
{% block content %}
<section id="main-form">
    <div class="wrapper">
        <div class="form-container">
            <span class="form-heading">Sign In</span>
            <form class="reg-form" method="POST" action="{{ url_for('login') }}">
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" id="username" name="username" placeholder="Username..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="pass" name="pass" placeholder="Password..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <button class="btn3" type="submit" value="signup">
                        <i class="fab fa-telegram-plane"></i>
                    </button>
                </div>
                <div class="switch-login">
                    <a href="{{ url_for('register') }}">Dont have an account? <span>Register</span></a>
                </div>
            </form>
        </div>
    </div>  
</section>
{% endblock %}